@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/DanysoftStore.png" />
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="container">
    <div id="catalog" class="row">

    </div>
</div>
<div class="container">

    <ul id="paginator" class="pagination">
    </ul>
    <hr />

    <footer>
        <p>&copy; Danysoft Internacional 2014</p>
    </footer>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $.getJSON('/api/catalog/?pageNumber=1',
                function(data){
                    createWindow(data);               
            });

            $.getJSON('/api/catalog/',
                function (data) {
                    createPaginator(data);
            });

        });

        function addTile(destElem, element) {
            var html = '<div class="col-md-2">' +
            '<h2 style="height:66px">' + element.Name + '</h2>' +
            '<img src="' + element.Image + '" />' +
            '<p>Precio: ' + element.Price + ' €</p>' +
            '<p><a class="btn btn-default" href="#" role="button" productId="' + element.Id + '">Agregar al carrito</a></p>' +
            '</div>';
            $(destElem).append(html);
        }

        function createWindow(data) {
            $(data).each(function (index, element) {
                addTile('#catalog', element);
            });
            $('a[productId]').click(function (ev) {
                var productId = $(ev.target).attr('productId');
                $.post('/api/catalog/?productId=' + productId);
            });
        };

        function createPaginator(data) {
            var pages = parseInt(data);
            $('#paginator').append('<li><a href="#" page="1">&laquo;</a></li>');
            for (var i = 1; i <= pages; i++) {
                $('#paginator').append('<li><a href="#" page="' + i.toString() + '">' + i.toString() + '</a></li>');
            }
            $('#paginator').append('<li><a href="#" page="' + pages + '">&raquo;</a></li>');

            $('a[page]').click(function (ev) {
                var page = $(ev.target).attr('page');
                $('#catalog').empty();
                $.getJSON('/api/catalog/?pageNumber=' + page,
                    function(data) {
                    createWindow(data);
                });
                $('#paginator').empty();
                $.getJSON('/api/catalog/',
                    function (data) {
                        createPaginator(data);
                });
            });
        }
    </script>
}
